html,
body {
  font-family: 'Lato', sans-serif;
  background: #f7f7f7;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

p {
  color: #272a31;
}

.header-bg {
  width: 100%;
  height: 80px;
  background-image: url("../img/nav-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
}

.user_nav_social {
  display: none;
}

.main-nav {
  display: none;
}

.header {
  height: 30px;
  padding: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 100%;
}

.hamburger {
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
}

.bar {
  border: 7px solid #272a31;
  padding: 4px;
  width: 32px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.mobile_menu {
  position: absolute;
  background-color: rgba(63, 68, 66, 0.9);
  width: 40%;
  height: 100%;
}

.mobile_menu__items {
  list-style: none;
  margin-top: 40px;
}

.mobile_menu__item {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 2px;
  color: #f0f0f0;
  margin-bottom: 10px;
  border-bottom: 2px solid #fbf4f4;
  margin-right: 200px;
}

.close_mobile_menu {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

.intro {
  padding: 20px;
  text-align: left;
}

.intro-heading {
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
  color: #ec5242;
  background-image: url("../img/heading-bg.jpg");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.sub-heading {
  color: #5e5e5e;
  font-size: 27px;
  margin-bottom: 0;
}

.intro .paragraph {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
}

.paragraph.contact {
  font-size: 12px;
  text-align: center;
}

.email {
  font-weight: bold;
  font-size: 16px;
}

.email__link:link,
.email__link:visited {
  text-decoration: none;
  color: #5e5e5e;
}

.email__link:hover {
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 3rem rgba(255, 0, 0, 0.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flash {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    box-shadow: 0 1rem 3rem rgba(255, 0, 0, 0.3);
  }

  100% {
    transform: scale(1);
  }
}

.border-white {
  padding: 24px;
  border: 3px solid #fff;
}

.bg-white {
  background-color: #fff;
}

.border-silver {
  padding: 24px;
  border: 3px solid #e8e8e8;
}

.main-program {
  color: #f8f9f4;
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
    linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline {
  width: 36px;
  border: 2px solid #ec5242;
  border-top: none;
}

.overlay {
  background-color: rgb(211, 211, 211, 0.2);
  margin-bottom: 12px;
}

.topic {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topic__icon {
  flex: 0 0 10%;
  margin-left: 20px;
}

.topic__title {
  color: #ec5242;
  font-size: 14px;
  padding: 20px;

  /* flex: 0 1 20%; */
  flex-shrink: 1;
  font-weight: 800;
}

.topic__info {
  color: #f8f9f4;
  font-size: 14px;
  flex: 2;
  line-height: 20px;
  letter-spacing: 1px;
  margin-right: 20px;
  padding: 5px;
}

.cta {
  padding: 20px 20px 20px;
  background: #ec5242;
  width: 85%;
  color: #f8f9f4;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.featured-instructors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-instructors__heading {
  color: #5e5e5e;
}

.instructor {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin-top: 20px;
}

.instructor__photo {
  height: 100px;
  margin-right: 15px;
  border-radius: 2px;
  position: relative;
}

.instructor::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  top: 30px;
  left: 5px;
  background-color: #eee;
  background-image:
    linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
    linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.instructor__name {
  color: #5e5e5e;
}

.instructor_qualification {
  color: #ec5242;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}

.instructor__info {
  font-size: 12px;
  color: #777171;
}

.more-button {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 15px;
  border: 1px solid #d8d0d0;
  border-radius: 3px;
  background-color: transparent;
  color: #5e5e5e;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
}

.about-codeniversity {
  color: #5e5e5e;
  background-color: #fff;
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.about__name {
  font-size: 40px;
}

.logo_container {
  text-align: center;
  margin-top: 15px;
  padding: 15px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.logo {
  width: 100%;
}

.featured-testimonies {
  border-top: 2px solid #e8e8e8;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimony__header {
  text-align: center;
}

.testimony__heading {
  color: #5e5e5e;
}

.testimony {
  display: flex;
  background-image: url("../img/instructor1.jpg");
  background-size: 200px 200px;
  background-repeat: repeat-y;
  margin-bottom: 30px;
  flex: 0 0 45%;
}

.testimony-row {
  display: flex;
  flex-direction: column;
}

.reddish-overlay {
  background-color: rgba(240, 0, 0, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.partners {
  background-color: #5e5e5e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.partner_logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partner_logo {
  width: 100px;
  margin: 20px 2px;
}

.small {
  font-size: 12px;
  padding: 0 25px 0 25px;
  letter-spacing: 1px;
}

.white {
  color: #fff;
}

.reddish {
  color: #ec5242;
}

.center {
  text-align: center;
}

.instructor__dash {
  width: 30px;
  margin: 10px 0;
  border: 1px solid silver;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto 5px;
  color: #5e5e5e;
}

.footer__logo {
  font-size: 20px;
}

.footer__text {
  padding: 10px;
  text-align: center;
  color: #5e5e5e;
}

.logo_div {
  flex: 0 0 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  html,
  body {
    margin: 0;
    padding-top: 0;
  }

  .intro {
    padding: 0 23% 0 13%;
    margin: 200px 0 100px;
  }

  .intro.about {
    padding: 0 13% 0 13%;
    margin: 200px 0 100px;
  }

  .intro-heading {
    font-size: 58px;
    line-height: 60px;
    letter-spacing: 1px;
    font-weight: 900;
  }

  .intro-heading.about {
    text-align: center;
    margin-bottom: 24px;
  }

  .underline.about {
    margin-bottom: 24px;
  }

  .intro .paragraph {
    margin: 0 30px 0 0;
    font-size: 14px;
    line-height: 2;
    font-weight: 500;
  }

  .intro .paragraph.about {
    margin-bottom: 40px;
  }

  .sub-heading {
    font-size: 32px;
  }

  .sub-heading + .paragraph {
    font-size: 16px;
  }

  .main-program {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .row-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .overlay {
    flex: 0 0 15%;
    margin-right: 2px;
  }

  .topic {
    flex-direction: column;
    align-items: center;
  }

  .topic__icon,
  .topic__title,
  .topic__info {
    margin: 0;
  }

  .topic__icon {
    width: 25%;
    padding: 20px 0 8px 0;
  }

  .topic__title {
    font-size: 20px;
    font-weight: 600;
    padding: 2px;
  }

  .topic__info {
    letter-spacing: 0;
    line-height: 1.3;
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;
  }

  .cta {
    background-color: transparent;
    border-bottom: 2px solid red;
    border-right: 2px solid #9dc5f9;
    border-left: 2px solid yellow;
    border-top: 2px solid #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 10px;
    width: 25%;
    margin-top: 30px;
    cursor: pointer;
  }

  .featured-instructors {
    margin-bottom: 70px;
  }

  .instructor-rows {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10%;
  }

  .instructor {
    flex: 0 1 38%;
  }

  .more-button {
    display: none;
  }

  .testimony-row {
    flex-direction: row;
    justify-content: center;
  }

  .testimony:not(:last-child) {
    margin-right: 20px;
  }

  .testimony__heading {
    font-size: 30px;
    margin-top: 48px;
  }

  .paragraph.small {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 48px;
  }

  .reddish-overlay {
    padding: 40px;
    font-size: 20px;
  }

  .instructor_qualification {
    font-size: 16px;
  }

  .instructor__info {
    font-size: 15px;
  }

  .featured-testimonies {
    margin-bottom: 69px;
  }

  .hamburger {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-left: 0;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .user_nav_social {
    display: flex;
    background-color: #272a31;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    width: 100%;
    padding-right: 100px;
  }

  .user_nav_social .user_nav__items {
    display: flex;
    list-style: none;
    color: #fff;
    align-items: center;
  }

  .user_nav__item {
    margin-right: 20px;
    font-size: 15px;
  }

  .main-nav {
    display: flex;
    width: 100%;
    padding: 10px 10% 10px 4%;
    background: #fff;
    align-items: center;
    border-bottom: 1px solid #ece2e2;
    box-shadow: 10px 2px 8px #888;
  }

  .nav__items {
    display: flex;
    flex: 3;
    justify-content: space-around;
    list-style: none;
  }

  .nav__item:hover,
  .logo_div__logo:hover {
    animation: flash 0.5s;
  }

  .nav__link:link,
  .nav__link:visited {
    text-decoration: none;
    cursor: pointer;
    color: #272a31;
    text-transform: uppercase;
    font-size: 14px;
  }

  .nav__link.active {
    color: #ec5242;
    font-weight: bold;
  }

  .user_nav__item .logout {
    margin-right: 20px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
  }

  .mobile_menu {
    display: none;
  }
}
